*.egg-info
.vscode/
.vscode/settings.json
# Pycache
__pycache__/
*/__pycache__/
build/
build/*
.pytest_cache
**/source/_build

output/*
tests/out/*
*.log

.coverage
.coverage*
coverage.xml
.pylintrc
htmlcov

model_name.slx
subsystem_test_model.slx
slprj

virtualenv/

documentation/source/apidoc

*.drawio.bkp
*.drawio.dtmp

*.slxc
/*.slx
/*.slx.autosave